<div>
  <div class="card">
    <h1 class="title">Team Generator</h1>
    <div class="box">
      <ul>
        <li *ngFor="let member of memberList">{{ member }}</li>
      </ul>
    </div>
    <div class="operator">
      <input
        #memberInput
        type="text"
        [value]="newMember"
        placeholder="Name"
        (input)="InputHandler(memberInput.value)"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generator">
      <input
        #noOfTeamsInput
        type="number"
        placeholder="# of teams"
        (input)="InputNoOfTeamsHandler(noOfTeamsInput.value)"
      />
      <button (click)="operation()">Generator</button>
    </div>
    <div *ngIf="errorMsg" class="error">
      <p class="message">{{ errorMsg }}</p>
    </div>

    <div *ngIf="teams.length" class="team-container">
      <app-team 
      *ngFor="let team of teams; let i =index" 
      [team]="team" 
      [index]="i"
      ></app-team>
    </div>
  </div>
</div>
